<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Woohoo</title>
</head>
<style>
  div {
    min-height: 400px;
  }
</style>
<body>
  <div style="text-align: center; font-size: 80px; width:100%">
    <span id="count"><%= count %></span>
    <h1><a href="/" id="wohoo">WooHooo!</a></h1>

    woohoo.nodejitsu.com<br>
    <a href="https://github.com/Swaagie/woohoo" target="_blank">
      github.com/Swaagie/woohoo
    </a>
  </div>

  <audio id="player" src="/woohoo.wav"></audio>

  <script src="/primus/primus.js"></script>
  <script type="text/javascript">
    var primus = Primus.connect('/')
      , link = document.getElementById('wohoo')
      , count = document.getElementById('count')
      , player = document.getElementById('player');

    link.addEventListener('click', function select(e) {
      e.preventDefault();

      primus.write({ action: 'wohoo' });
    });

    primus.on('data', function received(data) {
      if (!data || !data.count) return;

      count.innerHTML = data.count;
      player.play();
    });
  </script>
</body>
</html>
