<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Woohoo</title>
</head>
<style>
  div {
    min-height: 400px;
  }
</style>
<body>
  <a href="https://github.com/swaagie/woohoo/">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
  </a>

  <div style="text-align: center; font-size: 80px; width:100%">
    <span id="count"><%= count %></span>
    <h1><a href="/" id="wohoo">WooHooo!</a></h1>

    woohoo.nodejitsu.com<br>
  </div>

  <audio id="player" src="/woohoo.wav"></audio>

  <script src="/primus/primus.js"></script>
  <script type="text/javascript">
    var primus = Primus.connect('/')
      , link = document.getElementById('wohoo')
      , count = document.getElementById('count')
      , player = document.getElementById('player');

    link.addEventListener('click', function select(e) {
      e.preventDefault();

      primus.write({ action: 'wohoo' });
    });

    primus.on('data', function received(data) {
      if (!data || !data.count) return;

      count.innerHTML = data.count;
      player.play();
    });
  </script>
</body>
</html>
